

<% if(data == 'empty') { %>

    

<% } else { %>
    <% data.forEach(d => { %>
        <div class="d-flex justify-content-between align-items-center ss_content_holder " data-id="<%=d.id%>" data-page="<%=d._page%>" onclick="rowIs(event)">
            <p><%= d.english%></p>
            <p><%= d.bosnian%></p>
            <p data-meaning="<%= d.grammar_meaning%>"><%= d.grammar%></p>
            <p><%= d.arabic%></p>
        </div>    
    <% }) %>
<% } %>