

<% if(data == 'empty') { %>

    

<% } else { %>
    <% data.forEach(d => { %>
        <div class="d-flex justify-content-between align-items-center ss_content_holder " data-id="<%=d.id%>" onclick="rowIs(event)">
            <p><%= d.english%></p>
            <p><%= d.bosnian%></p>
            <p data-meaning="<%= d.grammar_meaning%>"><%= d.grammar%></p>
            <div data-arabic="<%= d.arabic%>" class="ss_col_img_holder">
                <img src="<%= d.arabic%>" alt="<%=d.arabic%>">
            </div>
        </div>    
    <% }) %>
<% } %>